--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO "admin-silvershop";

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO "admin-silvershop";

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO "admin-silvershop";

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO "admin-silvershop";

--
-- Name: chat_app_message; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.chat_app_message (
    id bigint NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    read boolean NOT NULL,
    receiver_id bigint NOT NULL,
    sender_id bigint NOT NULL
);


ALTER TABLE public.chat_app_message OWNER TO "admin-silvershop";

--
-- Name: chat_app_message_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.chat_app_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_app_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO "admin-silvershop";

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_clockedschedule; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_celery_beat_clockedschedule (
    id integer NOT NULL,
    clocked_time timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_clockedschedule OWNER TO "admin-silvershop";

--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_celery_beat_clockedschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_clockedschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_crontabschedule; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_celery_beat_crontabschedule (
    id integer NOT NULL,
    minute character varying(240) NOT NULL,
    hour character varying(96) NOT NULL,
    day_of_week character varying(64) NOT NULL,
    day_of_month character varying(124) NOT NULL,
    month_of_year character varying(64) NOT NULL,
    timezone character varying(63) NOT NULL
);


ALTER TABLE public.django_celery_beat_crontabschedule OWNER TO "admin-silvershop";

--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_celery_beat_crontabschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_crontabschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_intervalschedule; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_celery_beat_intervalschedule (
    id integer NOT NULL,
    every integer NOT NULL,
    period character varying(24) NOT NULL
);


ALTER TABLE public.django_celery_beat_intervalschedule OWNER TO "admin-silvershop";

--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_celery_beat_intervalschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_intervalschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictask; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_celery_beat_periodictask (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    task character varying(200) NOT NULL,
    args text NOT NULL,
    kwargs text NOT NULL,
    queue character varying(200),
    exchange character varying(200),
    routing_key character varying(200),
    expires timestamp with time zone,
    enabled boolean NOT NULL,
    last_run_at timestamp with time zone,
    total_run_count integer NOT NULL,
    date_changed timestamp with time zone NOT NULL,
    description text NOT NULL,
    crontab_id integer,
    interval_id integer,
    solar_id integer,
    one_off boolean NOT NULL,
    start_time timestamp with time zone,
    priority integer,
    headers text NOT NULL,
    clocked_id integer,
    expire_seconds integer,
    CONSTRAINT django_celery_beat_periodictask_expire_seconds_check CHECK ((expire_seconds >= 0)),
    CONSTRAINT django_celery_beat_periodictask_priority_check CHECK ((priority >= 0)),
    CONSTRAINT django_celery_beat_periodictask_total_run_count_check CHECK ((total_run_count >= 0))
);


ALTER TABLE public.django_celery_beat_periodictask OWNER TO "admin-silvershop";

--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_celery_beat_periodictask ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_periodictask_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_celery_beat_periodictasks; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_celery_beat_periodictasks (
    ident smallint NOT NULL,
    last_update timestamp with time zone NOT NULL
);


ALTER TABLE public.django_celery_beat_periodictasks OWNER TO "admin-silvershop";

--
-- Name: django_celery_beat_solarschedule; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_celery_beat_solarschedule (
    id integer NOT NULL,
    event character varying(24) NOT NULL,
    latitude numeric(9,6) NOT NULL,
    longitude numeric(9,6) NOT NULL
);


ALTER TABLE public.django_celery_beat_solarschedule OWNER TO "admin-silvershop";

--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_celery_beat_solarschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_celery_beat_solarschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO "admin-silvershop";

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO "admin-silvershop";

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO "admin-silvershop";

--
-- Name: order_app_cart; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.order_app_cart OWNER TO "admin-silvershop";

--
-- Name: order_app_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_cartitem; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT order_app_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.order_app_cartitem OWNER TO "admin-silvershop";

--
-- Name: order_app_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_order; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_order (
    id bigint NOT NULL,
    delivery_address text NOT NULL,
    delivery_status character varying(20) NOT NULL,
    total_price integer NOT NULL,
    order_date timestamp with time zone NOT NULL,
    delivery_date timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    shipped_at timestamp with time zone,
    CONSTRAINT order_app_order_total_price_check CHECK ((total_price >= 0))
);


ALTER TABLE public.order_app_order OWNER TO "admin-silvershop";

--
-- Name: order_app_order_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_order_products; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_order_products (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.order_app_order_products OWNER TO "admin-silvershop";

--
-- Name: order_app_order_products_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_order_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_order_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_orderitem; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT order_app_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.order_app_orderitem OWNER TO "admin-silvershop";

--
-- Name: order_app_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_wishlist; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_wishlist (
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.order_app_wishlist OWNER TO "admin-silvershop";

--
-- Name: order_app_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_app_wishlistitem; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.order_app_wishlistitem (
    id bigint NOT NULL,
    added_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    wishlist_id bigint NOT NULL
);


ALTER TABLE public.order_app_wishlistitem OWNER TO "admin-silvershop";

--
-- Name: order_app_wishlistitem_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.order_app_wishlistitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_app_wishlistitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_category; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_category (
    id bigint NOT NULL,
    slugname character varying(255) NOT NULL
);


ALTER TABLE public.product_app_category OWNER TO "admin-silvershop";

--
-- Name: product_app_category_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_category_translation; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_category_translation (
    id bigint NOT NULL,
    language_code character varying(15) NOT NULL,
    name character varying(255) NOT NULL,
    master_id bigint
);


ALTER TABLE public.product_app_category_translation OWNER TO "admin-silvershop";

--
-- Name: product_app_category_translation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_category_translation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_category_translation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_comment; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_comment (
    id bigint NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    owner_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.product_app_comment OWNER TO "admin-silvershop";

--
-- Name: product_app_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_product; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_product (
    id bigint NOT NULL,
    brand character varying(50),
    slugname character varying(255) NOT NULL,
    price integer NOT NULL,
    discount_percentage integer NOT NULL,
    price_after_discount integer,
    stock integer NOT NULL,
    thumbnail character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    sales_count integer NOT NULL,
    category_id bigint NOT NULL,
    subcategory_id bigint,
    image1 character varying(100),
    image2 character varying(100),
    image3 character varying(100),
    image4 character varying(100),
    CONSTRAINT product_app_product_discount_percentage_check CHECK ((discount_percentage >= 0)),
    CONSTRAINT product_app_product_price_after_discount_check CHECK ((price_after_discount >= 0)),
    CONSTRAINT product_app_product_price_check CHECK ((price >= 0)),
    CONSTRAINT product_app_product_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.product_app_product OWNER TO "admin-silvershop";

--
-- Name: product_app_product_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_product_translation; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_product_translation (
    id bigint NOT NULL,
    language_code character varying(15) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    master_id bigint
);


ALTER TABLE public.product_app_product_translation OWNER TO "admin-silvershop";

--
-- Name: product_app_product_translation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_product_translation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_product_translation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_rating; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_rating (
    id bigint NOT NULL,
    rating integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.product_app_rating OWNER TO "admin-silvershop";

--
-- Name: product_app_rating_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_rating ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_rating_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_subcategory; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_subcategory (
    id bigint NOT NULL,
    slugname character varying(255) NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.product_app_subcategory OWNER TO "admin-silvershop";

--
-- Name: product_app_subcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_subcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_subcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_app_subcategory_translation; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.product_app_subcategory_translation (
    id bigint NOT NULL,
    language_code character varying(15) NOT NULL,
    name character varying(255) NOT NULL,
    master_id bigint
);


ALTER TABLE public.product_app_subcategory_translation OWNER TO "admin-silvershop";

--
-- Name: product_app_subcategory_translation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.product_app_subcategory_translation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_app_subcategory_translation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_app_user; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.user_app_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    phone_number character varying(11),
    address text
);


ALTER TABLE public.user_app_user OWNER TO "admin-silvershop";

--
-- Name: user_app_user_groups; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.user_app_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.user_app_user_groups OWNER TO "admin-silvershop";

--
-- Name: user_app_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.user_app_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_app_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.user_app_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_app_user_user_permissions; Type: TABLE; Schema: public; Owner: admin-silvershop
--

CREATE TABLE public.user_app_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.user_app_user_user_permissions OWNER TO "admin-silvershop";

--
-- Name: user_app_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin-silvershop
--

ALTER TABLE public.user_app_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_app_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: chat_app_message; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.chat_app_message (id, content, "timestamp", read, receiver_id, sender_id) FROM stdin;
1	aleyke selam	2024-10-20 11:16:24.127431+03:30	f	1	2
2	selam	2024-10-20 11:19:53.131741+03:30	f	2	1
3	aleyke selam	2024-10-20 11:19:54.429326+03:30	f	1	2
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_clockedschedule; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_celery_beat_clockedschedule (id, clocked_time) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_crontabschedule; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_celery_beat_crontabschedule (id, minute, hour, day_of_week, day_of_month, month_of_year, timezone) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_intervalschedule; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_celery_beat_intervalschedule (id, every, period) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_periodictask; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_celery_beat_periodictask (id, name, task, args, kwargs, queue, exchange, routing_key, expires, enabled, last_run_at, total_run_count, date_changed, description, crontab_id, interval_id, solar_id, one_off, start_time, priority, headers, clocked_id, expire_seconds) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_periodictasks; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_celery_beat_periodictasks (ident, last_update) FROM stdin;
\.


--
-- Data for Name: django_celery_beat_solarschedule; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_celery_beat_solarschedule (id, event, latitude, longitude) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: order_app_cart; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_cart (id, created_at, user_id) FROM stdin;
\.


--
-- Data for Name: order_app_cartitem; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_cartitem (id, quantity, cart_id, product_id) FROM stdin;
\.


--
-- Data for Name: order_app_order; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_order (id, delivery_address, delivery_status, total_price, order_date, delivery_date, created_at, user_id, shipped_at) FROM stdin;
\.


--
-- Data for Name: order_app_order_products; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_order_products (id, order_id, product_id) FROM stdin;
\.


--
-- Data for Name: order_app_orderitem; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_orderitem (id, quantity, order_id, product_id) FROM stdin;
\.


--
-- Data for Name: order_app_wishlist; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_wishlist (id, user_id) FROM stdin;
\.


--
-- Data for Name: order_app_wishlistitem; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.order_app_wishlistitem (id, added_at, product_id, wishlist_id) FROM stdin;
\.


--
-- Data for Name: product_app_category; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_category (id, slugname) FROM stdin;
\.


--
-- Data for Name: product_app_category_translation; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_category_translation (id, language_code, name, master_id) FROM stdin;
\.


--
-- Data for Name: product_app_comment; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_comment (id, text, created_at, owner_id, product_id) FROM stdin;
\.


--
-- Data for Name: product_app_product; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_product (id, brand, slugname, price, discount_percentage, price_after_discount, stock, thumbnail, created_at, updated_at, sales_count, category_id, subcategory_id, image1, image2, image3, image4) FROM stdin;
\.


--
-- Data for Name: product_app_product_translation; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_product_translation (id, language_code, name, description, master_id) FROM stdin;
\.


--
-- Data for Name: product_app_rating; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_rating (id, rating, created_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: product_app_subcategory; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_subcategory (id, slugname, category_id) FROM stdin;
\.


--
-- Data for Name: product_app_subcategory_translation; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.product_app_subcategory_translation (id, language_code, name, master_id) FROM stdin;
\.


--
-- Data for Name: user_app_user; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.user_app_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined, phone_number, address) FROM stdin;
1	pbkdf2_sha256$870000$qnfm7TBsgvgZoKG2EqE8GP$5ZFkJ0z83KdAQMpKBz2BrZPa6uucqH3VzH12HVn/AfM=	\N	t	super				t	t	2024-10-20 11:13:46.545892+03:30	\N	\N
2	pbkdf2_sha256$870000$5JFn2QR14Tdoldf2S7k4zC$30EmvPKaibh1Efymh4+qAelKP3/FTd0K6BuKUFqwvsk=	\N	t	hadi				t	t	2024-10-20 11:15:28.295545+03:30	\N	\N
\.


--
-- Data for Name: user_app_user_groups; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.user_app_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: user_app_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: admin-silvershop
--

COPY public.user_app_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 104, true);


--
-- Name: chat_app_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.chat_app_message_id_seq', 3, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_celery_beat_clockedschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_celery_beat_clockedschedule_id_seq', 1, false);


--
-- Name: django_celery_beat_crontabschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_celery_beat_crontabschedule_id_seq', 1, false);


--
-- Name: django_celery_beat_intervalschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_celery_beat_intervalschedule_id_seq', 1, false);


--
-- Name: django_celery_beat_periodictask_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_celery_beat_periodictask_id_seq', 1, false);


--
-- Name: django_celery_beat_solarschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_celery_beat_solarschedule_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 29, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 57, true);


--
-- Name: order_app_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_cart_id_seq', 1, false);


--
-- Name: order_app_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_cartitem_id_seq', 1, false);


--
-- Name: order_app_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_order_id_seq', 1, false);


--
-- Name: order_app_order_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_order_products_id_seq', 1, false);


--
-- Name: order_app_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_orderitem_id_seq', 1, false);


--
-- Name: order_app_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_wishlist_id_seq', 1, false);


--
-- Name: order_app_wishlistitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.order_app_wishlistitem_id_seq', 1, false);


--
-- Name: product_app_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_category_id_seq', 1, false);


--
-- Name: product_app_category_translation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_category_translation_id_seq', 1, false);


--
-- Name: product_app_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_comment_id_seq', 1, false);


--
-- Name: product_app_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_product_id_seq', 1, false);


--
-- Name: product_app_product_translation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_product_translation_id_seq', 1, false);


--
-- Name: product_app_rating_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_rating_id_seq', 1, false);


--
-- Name: product_app_subcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_subcategory_id_seq', 1, false);


--
-- Name: product_app_subcategory_translation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.product_app_subcategory_translation_id_seq', 1, false);


--
-- Name: user_app_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.user_app_user_groups_id_seq', 1, false);


--
-- Name: user_app_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.user_app_user_id_seq', 2, true);


--
-- Name: user_app_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin-silvershop
--

SELECT pg_catalog.setval('public.user_app_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: chat_app_message chat_app_message_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.chat_app_message
    ADD CONSTRAINT chat_app_message_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_clockedschedule django_celery_beat_clockedschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_clockedschedule
    ADD CONSTRAINT django_celery_beat_clockedschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_crontabschedule django_celery_beat_crontabschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_crontabschedule
    ADD CONSTRAINT django_celery_beat_crontabschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_intervalschedule django_celery_beat_intervalschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_intervalschedule
    ADD CONSTRAINT django_celery_beat_intervalschedule_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_name_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_name_key UNIQUE (name);


--
-- Name: django_celery_beat_periodictask django_celery_beat_periodictask_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_periodictask_pkey PRIMARY KEY (id);


--
-- Name: django_celery_beat_periodictasks django_celery_beat_periodictasks_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictasks
    ADD CONSTRAINT django_celery_beat_periodictasks_pkey PRIMARY KEY (ident);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solar_event_latitude_longitude_ba64999a_uniq UNIQUE (event, latitude, longitude);


--
-- Name: django_celery_beat_solarschedule django_celery_beat_solarschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_solarschedule
    ADD CONSTRAINT django_celery_beat_solarschedule_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: order_app_cart order_app_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_cart
    ADD CONSTRAINT order_app_cart_pkey PRIMARY KEY (id);


--
-- Name: order_app_cartitem order_app_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_cartitem
    ADD CONSTRAINT order_app_cartitem_pkey PRIMARY KEY (id);


--
-- Name: order_app_order order_app_order_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_order
    ADD CONSTRAINT order_app_order_pkey PRIMARY KEY (id);


--
-- Name: order_app_order_products order_app_order_products_order_id_product_id_1b6af7ca_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_order_products
    ADD CONSTRAINT order_app_order_products_order_id_product_id_1b6af7ca_uniq UNIQUE (order_id, product_id);


--
-- Name: order_app_order_products order_app_order_products_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_order_products
    ADD CONSTRAINT order_app_order_products_pkey PRIMARY KEY (id);


--
-- Name: order_app_orderitem order_app_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_orderitem
    ADD CONSTRAINT order_app_orderitem_pkey PRIMARY KEY (id);


--
-- Name: order_app_wishlist order_app_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlist
    ADD CONSTRAINT order_app_wishlist_pkey PRIMARY KEY (id);


--
-- Name: order_app_wishlist order_app_wishlist_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlist
    ADD CONSTRAINT order_app_wishlist_user_id_key UNIQUE (user_id);


--
-- Name: order_app_wishlistitem order_app_wishlistitem_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlistitem
    ADD CONSTRAINT order_app_wishlistitem_pkey PRIMARY KEY (id);


--
-- Name: order_app_wishlistitem order_app_wishlistitem_wishlist_id_product_id_542abe86_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlistitem
    ADD CONSTRAINT order_app_wishlistitem_wishlist_id_product_id_542abe86_uniq UNIQUE (wishlist_id, product_id);


--
-- Name: product_app_category product_app_category_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_category
    ADD CONSTRAINT product_app_category_pkey PRIMARY KEY (id);


--
-- Name: product_app_category product_app_category_slugname_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_category
    ADD CONSTRAINT product_app_category_slugname_key UNIQUE (slugname);


--
-- Name: product_app_category_translation product_app_category_tra_language_code_master_id_0ae2cc3c_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_category_translation
    ADD CONSTRAINT product_app_category_tra_language_code_master_id_0ae2cc3c_uniq UNIQUE (language_code, master_id);


--
-- Name: product_app_category_translation product_app_category_translation_name_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_category_translation
    ADD CONSTRAINT product_app_category_translation_name_key UNIQUE (name);


--
-- Name: product_app_category_translation product_app_category_translation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_category_translation
    ADD CONSTRAINT product_app_category_translation_pkey PRIMARY KEY (id);


--
-- Name: product_app_comment product_app_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_comment
    ADD CONSTRAINT product_app_comment_pkey PRIMARY KEY (id);


--
-- Name: product_app_product product_app_product_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product
    ADD CONSTRAINT product_app_product_pkey PRIMARY KEY (id);


--
-- Name: product_app_product product_app_product_slugname_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product
    ADD CONSTRAINT product_app_product_slugname_key UNIQUE (slugname);


--
-- Name: product_app_product_translation product_app_product_tran_language_code_master_id_a924c3eb_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product_translation
    ADD CONSTRAINT product_app_product_tran_language_code_master_id_a924c3eb_uniq UNIQUE (language_code, master_id);


--
-- Name: product_app_product_translation product_app_product_translation_name_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product_translation
    ADD CONSTRAINT product_app_product_translation_name_key UNIQUE (name);


--
-- Name: product_app_product_translation product_app_product_translation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product_translation
    ADD CONSTRAINT product_app_product_translation_pkey PRIMARY KEY (id);


--
-- Name: product_app_rating product_app_rating_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_rating
    ADD CONSTRAINT product_app_rating_pkey PRIMARY KEY (id);


--
-- Name: product_app_rating product_app_rating_user_id_product_id_4757c480_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_rating
    ADD CONSTRAINT product_app_rating_user_id_product_id_4757c480_uniq UNIQUE (user_id, product_id);


--
-- Name: product_app_subcategory_translation product_app_subcategory__language_code_master_id_ebd5485c_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory_translation
    ADD CONSTRAINT product_app_subcategory__language_code_master_id_ebd5485c_uniq UNIQUE (language_code, master_id);


--
-- Name: product_app_subcategory product_app_subcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory
    ADD CONSTRAINT product_app_subcategory_pkey PRIMARY KEY (id);


--
-- Name: product_app_subcategory product_app_subcategory_slugname_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory
    ADD CONSTRAINT product_app_subcategory_slugname_key UNIQUE (slugname);


--
-- Name: product_app_subcategory_translation product_app_subcategory_translation_name_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory_translation
    ADD CONSTRAINT product_app_subcategory_translation_name_key UNIQUE (name);


--
-- Name: product_app_subcategory_translation product_app_subcategory_translation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory_translation
    ADD CONSTRAINT product_app_subcategory_translation_pkey PRIMARY KEY (id);


--
-- Name: user_app_user_groups user_app_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_groups
    ADD CONSTRAINT user_app_user_groups_pkey PRIMARY KEY (id);


--
-- Name: user_app_user_groups user_app_user_groups_user_id_group_id_13ac6bde_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_groups
    ADD CONSTRAINT user_app_user_groups_user_id_group_id_13ac6bde_uniq UNIQUE (user_id, group_id);


--
-- Name: user_app_user user_app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user
    ADD CONSTRAINT user_app_user_pkey PRIMARY KEY (id);


--
-- Name: user_app_user_user_permissions user_app_user_user_permi_user_id_permission_id_46c11fb3_uniq; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_user_permissions
    ADD CONSTRAINT user_app_user_user_permi_user_id_permission_id_46c11fb3_uniq UNIQUE (user_id, permission_id);


--
-- Name: user_app_user_user_permissions user_app_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_user_permissions
    ADD CONSTRAINT user_app_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: user_app_user user_app_user_username_key; Type: CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user
    ADD CONSTRAINT user_app_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: chat_app_message_receiver_id_89541fc6; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX chat_app_message_receiver_id_89541fc6 ON public.chat_app_message USING btree (receiver_id);


--
-- Name: chat_app_message_sender_id_03c5fae9; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX chat_app_message_sender_id_03c5fae9 ON public.chat_app_message USING btree (sender_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_celery_beat_periodictask_clocked_id_47a69f82; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_celery_beat_periodictask_clocked_id_47a69f82 ON public.django_celery_beat_periodictask USING btree (clocked_id);


--
-- Name: django_celery_beat_periodictask_crontab_id_d3cba168; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_celery_beat_periodictask_crontab_id_d3cba168 ON public.django_celery_beat_periodictask USING btree (crontab_id);


--
-- Name: django_celery_beat_periodictask_interval_id_a8ca27da; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_celery_beat_periodictask_interval_id_a8ca27da ON public.django_celery_beat_periodictask USING btree (interval_id);


--
-- Name: django_celery_beat_periodictask_name_265a36b7_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_celery_beat_periodictask_name_265a36b7_like ON public.django_celery_beat_periodictask USING btree (name varchar_pattern_ops);


--
-- Name: django_celery_beat_periodictask_solar_id_a87ce72c; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_celery_beat_periodictask_solar_id_a87ce72c ON public.django_celery_beat_periodictask USING btree (solar_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: order_app_cart_user_id_21fbf46e; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_cart_user_id_21fbf46e ON public.order_app_cart USING btree (user_id);


--
-- Name: order_app_cartitem_cart_id_a7b9eb5b; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_cartitem_cart_id_a7b9eb5b ON public.order_app_cartitem USING btree (cart_id);


--
-- Name: order_app_cartitem_product_id_c846ad97; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_cartitem_product_id_c846ad97 ON public.order_app_cartitem USING btree (product_id);


--
-- Name: order_app_order_products_order_id_5d33c384; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_order_products_order_id_5d33c384 ON public.order_app_order_products USING btree (order_id);


--
-- Name: order_app_order_products_product_id_8acbf43c; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_order_products_product_id_8acbf43c ON public.order_app_order_products USING btree (product_id);


--
-- Name: order_app_order_user_id_f1814784; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_order_user_id_f1814784 ON public.order_app_order USING btree (user_id);


--
-- Name: order_app_orderitem_order_id_d8561a3b; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_orderitem_order_id_d8561a3b ON public.order_app_orderitem USING btree (order_id);


--
-- Name: order_app_orderitem_product_id_2eb760d9; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_orderitem_product_id_2eb760d9 ON public.order_app_orderitem USING btree (product_id);


--
-- Name: order_app_wishlistitem_product_id_c1181ce1; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_wishlistitem_product_id_c1181ce1 ON public.order_app_wishlistitem USING btree (product_id);


--
-- Name: order_app_wishlistitem_wishlist_id_f044c373; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX order_app_wishlistitem_wishlist_id_f044c373 ON public.order_app_wishlistitem USING btree (wishlist_id);


--
-- Name: product_app_category_slugname_54daf5c4_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_category_slugname_54daf5c4_like ON public.product_app_category USING btree (slugname varchar_pattern_ops);


--
-- Name: product_app_category_translation_language_code_c6a388f6; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_category_translation_language_code_c6a388f6 ON public.product_app_category_translation USING btree (language_code);


--
-- Name: product_app_category_translation_language_code_c6a388f6_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_category_translation_language_code_c6a388f6_like ON public.product_app_category_translation USING btree (language_code varchar_pattern_ops);


--
-- Name: product_app_category_translation_master_id_22e82cf7; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_category_translation_master_id_22e82cf7 ON public.product_app_category_translation USING btree (master_id);


--
-- Name: product_app_category_translation_name_41f52d76_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_category_translation_name_41f52d76_like ON public.product_app_category_translation USING btree (name varchar_pattern_ops);


--
-- Name: product_app_comment_owner_id_a497357c; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_comment_owner_id_a497357c ON public.product_app_comment USING btree (owner_id);


--
-- Name: product_app_comment_product_id_7aa3b83d; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_comment_product_id_7aa3b83d ON public.product_app_comment USING btree (product_id);


--
-- Name: product_app_product_category_id_5de7b7e6; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_category_id_5de7b7e6 ON public.product_app_product USING btree (category_id);


--
-- Name: product_app_product_slugname_fceea40b_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_slugname_fceea40b_like ON public.product_app_product USING btree (slugname varchar_pattern_ops);


--
-- Name: product_app_product_subcategory_id_e76d17e7; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_subcategory_id_e76d17e7 ON public.product_app_product USING btree (subcategory_id);


--
-- Name: product_app_product_translation_language_code_4c3f70ad; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_translation_language_code_4c3f70ad ON public.product_app_product_translation USING btree (language_code);


--
-- Name: product_app_product_translation_language_code_4c3f70ad_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_translation_language_code_4c3f70ad_like ON public.product_app_product_translation USING btree (language_code varchar_pattern_ops);


--
-- Name: product_app_product_translation_master_id_75cf6d47; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_translation_master_id_75cf6d47 ON public.product_app_product_translation USING btree (master_id);


--
-- Name: product_app_product_translation_name_cffdd332_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_product_translation_name_cffdd332_like ON public.product_app_product_translation USING btree (name varchar_pattern_ops);


--
-- Name: product_app_rating_product_id_917bacff; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_rating_product_id_917bacff ON public.product_app_rating USING btree (product_id);


--
-- Name: product_app_rating_user_id_d8868a10; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_rating_user_id_d8868a10 ON public.product_app_rating USING btree (user_id);


--
-- Name: product_app_subcategory_category_id_e3363962; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_subcategory_category_id_e3363962 ON public.product_app_subcategory USING btree (category_id);


--
-- Name: product_app_subcategory_slugname_8ef9d0b3_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_subcategory_slugname_8ef9d0b3_like ON public.product_app_subcategory USING btree (slugname varchar_pattern_ops);


--
-- Name: product_app_subcategory_translation_language_code_715ad99f; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_subcategory_translation_language_code_715ad99f ON public.product_app_subcategory_translation USING btree (language_code);


--
-- Name: product_app_subcategory_translation_language_code_715ad99f_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_subcategory_translation_language_code_715ad99f_like ON public.product_app_subcategory_translation USING btree (language_code varchar_pattern_ops);


--
-- Name: product_app_subcategory_translation_master_id_e78a06c2; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_subcategory_translation_master_id_e78a06c2 ON public.product_app_subcategory_translation USING btree (master_id);


--
-- Name: product_app_subcategory_translation_name_81d806ef_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX product_app_subcategory_translation_name_81d806ef_like ON public.product_app_subcategory_translation USING btree (name varchar_pattern_ops);


--
-- Name: user_app_user_groups_group_id_77b237a8; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX user_app_user_groups_group_id_77b237a8 ON public.user_app_user_groups USING btree (group_id);


--
-- Name: user_app_user_groups_user_id_9ac3bba9; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX user_app_user_groups_user_id_9ac3bba9 ON public.user_app_user_groups USING btree (user_id);


--
-- Name: user_app_user_user_permissions_permission_id_66c16b85; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX user_app_user_user_permissions_permission_id_66c16b85 ON public.user_app_user_user_permissions USING btree (permission_id);


--
-- Name: user_app_user_user_permissions_user_id_6099c7a4; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX user_app_user_user_permissions_user_id_6099c7a4 ON public.user_app_user_user_permissions USING btree (user_id);


--
-- Name: user_app_user_username_e45e0961_like; Type: INDEX; Schema: public; Owner: admin-silvershop
--

CREATE INDEX user_app_user_username_e45e0961_like ON public.user_app_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chat_app_message chat_app_message_receiver_id_89541fc6_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.chat_app_message
    ADD CONSTRAINT chat_app_message_receiver_id_89541fc6_fk_user_app_user_id FOREIGN KEY (receiver_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chat_app_message chat_app_message_sender_id_03c5fae9_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.chat_app_message
    ADD CONSTRAINT chat_app_message_sender_id_03c5fae9_fk_user_app_user_id FOREIGN KEY (sender_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_clocked_id_47a69f82_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_clocked_id_47a69f82_fk_django_ce FOREIGN KEY (clocked_id) REFERENCES public.django_celery_beat_clockedschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_crontab_id_d3cba168_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_crontab_id_d3cba168_fk_django_ce FOREIGN KEY (crontab_id) REFERENCES public.django_celery_beat_crontabschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_interval_id_a8ca27da_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_interval_id_a8ca27da_fk_django_ce FOREIGN KEY (interval_id) REFERENCES public.django_celery_beat_intervalschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_celery_beat_periodictask django_celery_beat_p_solar_id_a87ce72c_fk_django_ce; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.django_celery_beat_periodictask
    ADD CONSTRAINT django_celery_beat_p_solar_id_a87ce72c_fk_django_ce FOREIGN KEY (solar_id) REFERENCES public.django_celery_beat_solarschedule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_cart order_app_cart_user_id_21fbf46e_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_cart
    ADD CONSTRAINT order_app_cart_user_id_21fbf46e_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_cartitem order_app_cartitem_cart_id_a7b9eb5b_fk_order_app_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_cartitem
    ADD CONSTRAINT order_app_cartitem_cart_id_a7b9eb5b_fk_order_app_cart_id FOREIGN KEY (cart_id) REFERENCES public.order_app_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_cartitem order_app_cartitem_product_id_c846ad97_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_cartitem
    ADD CONSTRAINT order_app_cartitem_product_id_c846ad97_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_order_products order_app_order_prod_order_id_5d33c384_fk_order_app; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_order_products
    ADD CONSTRAINT order_app_order_prod_order_id_5d33c384_fk_order_app FOREIGN KEY (order_id) REFERENCES public.order_app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_order_products order_app_order_prod_product_id_8acbf43c_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_order_products
    ADD CONSTRAINT order_app_order_prod_product_id_8acbf43c_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_order order_app_order_user_id_f1814784_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_order
    ADD CONSTRAINT order_app_order_user_id_f1814784_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_orderitem order_app_orderitem_order_id_d8561a3b_fk_order_app_order_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_orderitem
    ADD CONSTRAINT order_app_orderitem_order_id_d8561a3b_fk_order_app_order_id FOREIGN KEY (order_id) REFERENCES public.order_app_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_orderitem order_app_orderitem_product_id_2eb760d9_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_orderitem
    ADD CONSTRAINT order_app_orderitem_product_id_2eb760d9_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_wishlist order_app_wishlist_user_id_7ff1fea7_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlist
    ADD CONSTRAINT order_app_wishlist_user_id_7ff1fea7_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_wishlistitem order_app_wishlistit_product_id_c1181ce1_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlistitem
    ADD CONSTRAINT order_app_wishlistit_product_id_c1181ce1_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_app_wishlistitem order_app_wishlistit_wishlist_id_f044c373_fk_order_app; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.order_app_wishlistitem
    ADD CONSTRAINT order_app_wishlistit_wishlist_id_f044c373_fk_order_app FOREIGN KEY (wishlist_id) REFERENCES public.order_app_wishlist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_category_translation product_app_category_master_id_22e82cf7_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_category_translation
    ADD CONSTRAINT product_app_category_master_id_22e82cf7_fk_product_a FOREIGN KEY (master_id) REFERENCES public.product_app_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_comment product_app_comment_owner_id_a497357c_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_comment
    ADD CONSTRAINT product_app_comment_owner_id_a497357c_fk_user_app_user_id FOREIGN KEY (owner_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_comment product_app_comment_product_id_7aa3b83d_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_comment
    ADD CONSTRAINT product_app_comment_product_id_7aa3b83d_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_product_translation product_app_product__master_id_75cf6d47_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product_translation
    ADD CONSTRAINT product_app_product__master_id_75cf6d47_fk_product_a FOREIGN KEY (master_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_product product_app_product_category_id_5de7b7e6_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product
    ADD CONSTRAINT product_app_product_category_id_5de7b7e6_fk_product_a FOREIGN KEY (category_id) REFERENCES public.product_app_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_product product_app_product_subcategory_id_e76d17e7_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_product
    ADD CONSTRAINT product_app_product_subcategory_id_e76d17e7_fk_product_a FOREIGN KEY (subcategory_id) REFERENCES public.product_app_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_rating product_app_rating_product_id_917bacff_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_rating
    ADD CONSTRAINT product_app_rating_product_id_917bacff_fk_product_a FOREIGN KEY (product_id) REFERENCES public.product_app_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_rating product_app_rating_user_id_d8868a10_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_rating
    ADD CONSTRAINT product_app_rating_user_id_d8868a10_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_subcategory product_app_subcateg_category_id_e3363962_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory
    ADD CONSTRAINT product_app_subcateg_category_id_e3363962_fk_product_a FOREIGN KEY (category_id) REFERENCES public.product_app_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_app_subcategory_translation product_app_subcateg_master_id_e78a06c2_fk_product_a; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.product_app_subcategory_translation
    ADD CONSTRAINT product_app_subcateg_master_id_e78a06c2_fk_product_a FOREIGN KEY (master_id) REFERENCES public.product_app_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_app_user_groups user_app_user_groups_group_id_77b237a8_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_groups
    ADD CONSTRAINT user_app_user_groups_group_id_77b237a8_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_app_user_groups user_app_user_groups_user_id_9ac3bba9_fk_user_app_user_id; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_groups
    ADD CONSTRAINT user_app_user_groups_user_id_9ac3bba9_fk_user_app_user_id FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_app_user_user_permissions user_app_user_user_p_permission_id_66c16b85_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_user_permissions
    ADD CONSTRAINT user_app_user_user_p_permission_id_66c16b85_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_app_user_user_permissions user_app_user_user_p_user_id_6099c7a4_fk_user_app_; Type: FK CONSTRAINT; Schema: public; Owner: admin-silvershop
--

ALTER TABLE ONLY public.user_app_user_user_permissions
    ADD CONSTRAINT user_app_user_user_p_user_id_6099c7a4_fk_user_app_ FOREIGN KEY (user_id) REFERENCES public.user_app_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

